NEXT_PUBLIC_SUPABASE_URL=supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key_here
SUPABASE_PROJECT_PASSWORD=supabase_project_password_here

OPENROUTER_MODEL=openrouter_model_here
OPENROUTER_API_KEY=openrouter_api_key_here